<div class="container">
    <app-header></app-header>
    <app-inputs 
        (gridSizeEvent)="sizeChanged($event)"
        (setAllSelectedEvent)="setAllSelected($event)"
        (speedChangedEvent)="speedChanged($event)"
        ></app-inputs>
    <div class="table-responsive">
        <app-grid
            [gridSize]="gridSize"
            [rowsArray]="rowsArray"
            [columnsArray]="columnsArray"
            [maxHeat]="maxHeat"
            [cellArrays]="cellArrays"
        ></app-grid>
    </div>
    <app-totalheat 
        [totalHeat]="totalHeat"
    ></app-totalheat>
</div>